# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# RobotPy cache
./robotpy*

# Logs
*.log

# VSCode / JetBrains / Editor stuff
.vscode/
.idea/
.wpilib/

# Build artifacts
build/
dist/

# CTRE Sim
ctre_sim/